* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 1190px) {
    html {
      font-size: 45.7%; } }
  @media (max-width: 1270px) {
    html {
      font-size: 55%; } }
  @media (max-width: 760px) {
    html {
      font-size: 43.5%; } }
  @media (max-width: 650px) {
    html {
      font-size: 37.5%; } }
  @media (max-width: 483px) {
    html {
      font-size: 31%; } }
  html body {
    font-family: "DM Sans";
    background-color: #f3f6fd; }

.grid-col-2-chat {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem; }

.client-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #cdccccc2;
  padding-left: 3rem;
  padding-right: 3rem;
  text-transform: capitalize;
  padding-bottom: 2rem; }
  @media (max-width: 945px) {
    .client-heading {
      padding-bottom: 1.5rem; } }
  .client-heading .search-icon-client {
    font-size: 2.5rem;
    padding: 0.4rem;
    border-radius: 30px;
    transition: background-color 0.4s; }
    .client-heading .search-icon-client:hover {
      background-color: #ffffff;
      cursor: pointer; }
  .client-heading__actions {
    display: flex;
    align-items: center;
    gap: 2.5rem; }
    .client-heading__actions__dot:hover {
      cursor: pointer; }
    .client-heading__actions__dot .client-dots {
      display: block;
      margin-bottom: 0.4rem;
      height: 0.6rem;
      width: 0.6rem;
      background-color: black;
      border-radius: 50%; }

.client-messages {
  flex-grow: 1;
  overflow-y: scroll; }
  .client-messages::-webkit-scrollbar {
    width: 8px; }
    @media (max-width: 760px) {
      .client-messages::-webkit-scrollbar {
        width: 5px; } }
  .client-messages::-webkit-scrollbar-track {
    background-color: #f4f4f4; }
  .client-messages::-webkit-scrollbar-thumb {
    background-color: #d5d5d5;
    border-radius: 4px; }
  .client-messages__img {
    height: 6rem;
    width: 6rem;
    margin-bottom: 2rem;
    border-radius: 50%; }
  .client-messages .users-chats {
    position: relative;
    align-items: center;
    transition: transform 0.4s;
    padding-top: 2rem;
    justify-content: start;
    padding-left: 3rem;
    padding-right: 3rem; }
    .client-messages .users-chats:not(:last-child) {
      border-bottom: 2px solid #cdccccc2; }
    @media (max-width: 1111px) {
      .client-messages .users-chats {
        margin-top: 1rem;
        background-color: #ffffff;
        border-radius: 20px;
        grid-template-columns: 10rem auto;
        border: none; } }
    .client-messages .users-chats .star-icon {
      position: absolute;
      top: 20%;
      fill: black;
      right: 5%;
      transition: color 0.4s;
      font-size: 2rem; }
    .client-messages .users-chats .star-filled {
      display: none;
      position: absolute;
      top: 20%;
      fill: black;
      right: 5%;
      transition: color 0.4s;
      font-size: 2rem; }
    .client-messages .users-chats .message-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      padding-bottom: 2rem; }
      .client-messages .users-chats .message-content h4 {
        text-transform: capitalize;
        margin-bottom: 1rem; }
      .client-messages .users-chats .message-content .message-date {
        text-align: right;
        margin-top: 0.8rem;
        color: #777777;
        text-transform: capitalize;
        font-size: 1.4rem;
        font-weight: 500; }
    .client-messages .users-chats:hover {
      transform: translateX(-12px) scale(1.02);
      background-color: #ffffff;
      border-radius: 20px;
      cursor: pointer;
      border-bottom: none; }
      .client-messages .users-chats:hover .star-filled {
        display: block; }
      @media (max-width: 1111px) {
        .client-messages .users-chats:hover {
          transform: none;
          background-color: none;
          border: none;
          cursor: pointer; } }

.heading-primary-medium {
  font-size: 2.5rem; }

.heading-primary-small {
  font-size: 2rem;
  font-weight: 700; }

.heading-medium {
  font-size: 1.7rem;
  text-transform: capitalize; }

.text-medium {
  font-size: 1.5rem;
  font-weight: 500;
  color: #050505;
  text-transform: capitalize; }

.text-small {
  font-size: 1.4rem; }

.logo-name {
  font-size: 3.5rem;
  font-weight: 800; }

.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  gap: 5rem;
  text-transform: capitalize;
  align-items: center;
  z-index: 1000;
  height: auto;
  background-color: #f3f6fd; }
  @media (max-width: 1270px) {
    .header {
      padding: 1.5rem; } }
  @media (max-width: 1190px) {
    .header {
      padding: 0.85rem; } }
  @media (max-width: 1111px) {
    .header {
      gap: 0rem; } }
  .header .logo-name {
    margin-left: 15rem; }
    @media (max-width: 450px) {
      .header .logo-name {
        margin-left: 11rem; } }
    @media (max-width: 370px) {
      .header .logo-name {
        margin-left: 9.8rem; } }

.navigation {
  padding: 2rem;
  background-color: #f3f6fd;
  height: 100vh;
  width: 10rem;
  position: fixed;
  top: 0;
  left: 0; }
  @media (max-width: 450px) {
    .navigation {
      padding: 1.5rem; } }
  .navigation__drop {
    align-self: center;
    margin-left: 1.4rem;
    padding-top: 1rem;
    text-align: center; }
    @media (max-width: 450px) {
      .navigation__drop {
        margin-left: 1.5rem; } }
    .navigation__drop__checkbox {
      display: none; }
    .navigation__drop__label__span {
      height: 0.3rem;
      border-radius: 100px;
      background-color: black;
      width: 2rem;
      display: block;
      margin-bottom: 0.5rem; }
    .navigation__drop__label .outline-2 {
      width: 3.7rem; }
    .navigation__drop__label .outline-1,
    .navigation__drop__label .outline-3 {
      margin-left: 0.8rem; }
    .navigation__drop__label:hover {
      cursor: pointer;
      background-color: #ffffff; }
  .navigation__links {
    margin-top: 7rem;
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 2rem; }
    @media (max-width: 1270px) {
      .navigation__links {
        margin-top: 5rem;
        gap: 3.5rem; } }
    @media (max-width: 1190px) {
      .navigation__links {
        margin-top: 3rem; } }
    @media (max-width: 1111px) {
      .navigation__links {
        margin-top: 3rem; } }
    @media (max-width: 760px) {
      .navigation__links {
        gap: 2.5rem; } }
    @media (max-width: 450px) {
      .navigation__links {
        gap: 0rem; } }
    .navigation__links__li {
      display: flex;
      justify-content: center;
      list-style: none;
      text-align: center;
      transition: background-color 0.5s;
      border-radius: 50%;
      align-items: center; }
      @media (max-width: 450px) {
        .navigation__links__li {
          padding: 1.5rem; } }
      .navigation__links__li .nav-icons {
        font-size: 3rem;
        color: #94969a; }
      .navigation__links__li:hover .nav-icons {
        color: white; }
      .navigation__links__li .active-link {
        background-color: #151522;
        padding: 1.5rem;
        border-radius: 50px; }
        .navigation__links__li .active-link .nav-icons {
          color: white; }
      .navigation__links__li .a__links {
        padding: 1.5rem;
        border-radius: 50px;
        transition: background-color 0.4s; }
        .navigation__links__li .a__links:hover {
          background-color: #151522;
          cursor: pointer; }

.top__options {
  display: flex;
  align-self: end;
  align-items: center;
  gap: 2rem; }
  @media (max-width: 1270px) {
    .top__options {
      gap: 1rem; } }
  .top__options .top-user-img {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%; }
  .top__options .top-add-btn {
    background-color: #151522;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    text-align: center;
    border: none;
    transition: background-color 0.5s; }
    .top__options .top-add-btn .add-div {
      background-color: #ffffff;
      height: 0.2rem;
      width: 1.06667rem;
      border-radius: 3px;
      margin: 0 auto; }
    .top__options .top-add-btn .add-div-1 {
      transform: rotate(90deg); }
    .top__options .top-add-btn .add-div-2 {
      transform: translateY(-90%); }
    .top__options .top-add-btn:hover {
      cursor: pointer;
      background-color: rgba(21, 21, 34, 0.6); }
  .top__options .notification-icon {
    font-size: 3.2rem;
    transition: color 0.5s;
    position: relative; }
    .top__options .notification-icon::after {
      height: 0.7rem;
      content: "";
      width: 0.7rem;
      border-radius: 50%;
      background-color: red;
      position: absolute;
      right: 15%;
      top: 10%; }
    .top__options .notification-icon:hover {
      color: #777777;
      cursor: pointer; }
  .top__options__user {
    border-left: 1px solid #d5d5d5;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    gap: 2.5rem; }
    @media (max-width: 1270px) {
      .top__options__user {
        gap: 0.5rem; } }
    @media (max-width: 945px) {
      .top__options__user {
        margin-right: 2rem; } }
    .top__options__user .user-name {
      text-transform: capitalize;
      font-weight: 800;
      font-size: 2.3rem; }

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 7rem;
  padding-right: 7rem; }
  @media (max-width: 1190px) {
    .summary {
      margin-top: 3.5rem; } }
  @media (max-width: 1270px) {
    .summary {
      padding: 0rem 5rem;
      padding-bottom: 1rem; } }
  @media (max-width: 945px) {
    .summary {
      padding-right: 5rem; } }
  @media (max-width: 450px) {
    .summary {
      padding: 1rem 4rem;
      margin-top: 0rem; } }
  @media (max-width: 370px) {
    .summary {
      padding: 2rem 2rem; } }
  .summary__options {
    display: flex;
    gap: 2rem; }
    @media (max-width: 1111px) {
      .summary__options {
        gap: 1.5rem; } }
    .summary__options .menu-icon,
    .summary__options .menu-stripe {
      font-size: 2.3rem;
      --ionicon-stroke-width: 45px;
      transition: color 0.4s; }
      .summary__options .menu-icon:hover,
      .summary__options .menu-stripe:hover {
        color: #777777;
        cursor: pointer; }
  .summary__info {
    display: flex;
    gap: 5rem;
    justify-content: space-between; }
    @media (max-width: 1360px) {
      .summary__info {
        gap: 3.8rem; } }
    @media (max-width: 1270px) {
      .summary__info {
        gap: 5.5rem; } }
    @media (max-width: 1111px) {
      .summary__info {
        gap: 12rem; } }
    @media (max-width: 945px) {
      .summary__info {
        gap: 7rem; } }
    @media (max-width: 860px) {
      .summary__info {
        gap: 7rem; } }
    @media (max-width: 760px) {
      .summary__info {
        gap: 8rem; } }
    @media (max-width: 650px) {
      .summary__info {
        gap: 5rem; } }
    @media (max-width: 450px) {
      .summary__info {
        gap: 4rem; } }
    @media (max-width: 370px) {
      .summary__info {
        gap: 3rem; } }
    .summary__info__state .number {
      display: block;
      margin-bottom: 0.3rem; }
    .summary__info__state .number {
      font-weight: 900; }
    .summary__info__state .status {
      text-transform: capitalize;
      color: #767676;
      font-weight: 500; }
    .summary__info > *:not(:last-child) {
      position: relative; }
      .summary__info > *:not(:last-child)::after {
        content: "";
        position: absolute;
        height: 0.5rem;
        width: 0.5rem;
        top: 75%;
        right: -30%;
        border-radius: 50%;
        border: 1px solid black;
        display: block;
        align-self: flex-end;
        margin-bottom: 0.6rem; }
        @media (max-width: 1360px) {
          .summary__info > *:not(:last-child)::after {
            right: -25%; } }
        @media (max-width: 1270px) {
          .summary__info > *:not(:last-child)::after {
            right: -33%; } }
        @media (max-width: 1111px) {
          .summary__info > *:not(:last-child)::after {
            right: -70%; } }
        @media (max-width: 945px) {
          .summary__info > *:not(:last-child)::after {
            right: -45%; } }
        @media (max-width: 860px) {
          .summary__info > *:not(:last-child)::after {
            right: -43%; } }
        @media (max-width: 650px) {
          .summary__info > *:not(:last-child)::after {
            right: -35%; } }
        @media (max-width: 450px) {
          .summary__info > *:not(:last-child)::after {
            right: -28%; } }
        @media (max-width: 370px) {
          .summary__info > *:not(:last-child)::after {
            right: -22%; } }

.progress-domain {
  padding-left: 7rem;
  padding-right: 7rem;
  flex-grow: 1;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  column-gap: 7rem;
  row-gap: 7rem; }
  @media (max-width: 1360px) {
    .progress-domain {
      gap: 0rem; } }
  @media (max-width: 1270px) {
    .progress-domain {
      gap: 0rem; } }
  @media (max-width: 945px) {
    .progress-domain {
      padding-right: 5rem; } }
  @media (max-width: 450px) {
    .progress-domain {
      padding: 0rem 4rem;
      padding-top: 0rem; } }
  @media (max-width: 370px) {
    .progress-domain {
      padding: 1rem 2rem; } }
  @media (max-width: 1400px) {
    .progress-domain {
      gap: 5rem;
      padding: 5rem; } }
  @media (max-width: 760px) {
    .progress-domain {
      padding-bottom: 1rem; } }
  @media (max-width: 483px) {
    .progress-domain {
      padding-bottom: 1rem; } }
  .progress-domain::-webkit-scrollbar {
    width: 8px; }
    @media (max-width: 760px) {
      .progress-domain::-webkit-scrollbar {
        width: 5px; } }
  .progress-domain::-webkit-scrollbar-track {
    background-color: #f4f4f4; }
  .progress-domain::-webkit-scrollbar-thumb {
    background-color: #d5d5d5;
    border-radius: 4px; }
  @media (max-width: 1360px) {
    .progress-domain {
      column-gap: 5rem;
      row-gap: 5rem; } }
  @media (max-width: 1190px) {
    .progress-domain {
      grid-template-columns: 1fr; } }
  .progress-domain__cards {
    padding-bottom: 2rem;
    position: relative; }
    .progress-domain__cards .card-top {
      display: flex;
      padding: 3rem 3rem 0rem 3rem;
      justify-content: space-between; }
      @media (max-width: 860px) {
        .progress-domain__cards .card-top {
          padding-right: 4rem;
          padding-left: 4rem; } }
      .progress-domain__cards .card-top__opts .dots {
        display: block;
        margin-bottom: 0.1rem;
        height: 0.5rem;
        width: 0.5rem;
        background-color: black;
        border-radius: 50%; }
        @media (max-width: 860px) {
          .progress-domain__cards .card-top__opts .dots {
            margin-bottom: 0.3rem; } }
      .progress-domain__cards .card-top__opts:hover {
        cursor: pointer; }
      .progress-domain__cards .card-top__time {
        font-weight: 600;
        color: #4f4f4f;
        text-transform: capitalize; }

.card-details {
  margin-top: 3rem;
  text-align: center; }
  .card-details__progress {
    text-align: start;
    padding: 0rem 3rem; }
    .card-details__progress .progress-label {
      display: block;
      font-weight: 700;
      text-align: end;
      margin-top: 1rem; }
    .card-details__progress .bar-heading {
      display: block;
      font-weight: 700;
      margin-top: 2rem; }
    .card-details__progress .progress-bar {
      width: 100%;
      margin-top: 1rem;
      border-radius: 20px;
      border: none;
      height: 0.6rem; }
      .card-details__progress .progress-bar::-webkit-progress-bar {
        border-radius: 20px;
        background-color: #f3f3f3; }
      .card-details__progress .progress-bar::-webkit-progress-value {
        border-radius: 20px; }
  .card-details__name {
    text-transform: capitalize; }
  .card-details__category {
    display: block;
    margin-top: 0.3rem; }

.hr-grey {
  width: 100%;
  border: 1px solid rgba(227, 226, 226, 0.35);
  margin-top: 1rem; }

.hr-white {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-top: 1rem; }

.card-users {
  display: flex;
  padding: 0rem 1rem;
  padding-top: 2rem;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem; }
  @media (max-width: 1400px) {
    .card-users {
      padding-left: 2rem;
      padding-right: 2rem; } }
  @media (max-width: 1360px) {
    .card-users {
      padding-top: 1rem;
      padding-bottom: 0.2rem; } }
  .card-users__clients .users-img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%; }
    .card-users__clients .users-img:not(:first-child) {
      margin-left: -1rem; }
  .card-users__clients .add-btn {
    margin-left: 0.4rem; }
    .card-users__clients .add-btn:hover {
      cursor: pointer; }
  .card-users .time-left {
    display: inline-block;
    text-align: end;
    font-weight: 650;
    padding: 0.7rem 2rem;
    border-radius: 25px;
    font-size: 0.8rem;
    background-color: #ffffff; }
    .card-users .time-left__span {
      font-weight: 700; }
  .card-users .time-prototype {
    color: #2cc8ff; }
  .card-users .time-medical {
    color: #02d052; }
  .card-users .time-wireframing {
    color: #ff72ac; }
  .card-users .time-shopping {
    color: #ff723a; }

.bar-prototype::-webkit-progress-value {
  background-color: #2cc8ff; }

.bar-medical::-webkit-progress-value {
  background-color: #02d052; }

.bar-shopping::-webkit-progress-value {
  background-color: #ff723a; }

.bar-wireframing::-webkit-progress-value {
  background-color: #ff72ac; }

.card-prototyping {
  box-shadow: 0px 0px 300px rgba(197, 196, 196, 0.293); }
  .card-prototyping .add-btn {
    background-color: #2cc8ff;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    text-align: center;
    border: none;
    transition: background-color 0.5s; }
    .card-prototyping .add-btn .add-div {
      background-color: #ffffff;
      height: 0.2rem;
      width: 1rem;
      border-radius: 3px;
      margin: 0 auto; }
    .card-prototyping .add-btn .add-div-1 {
      transform: rotate(90deg); }
    .card-prototyping .add-btn .add-div-2 {
      transform: translateY(-90%); }
    .card-prototyping .add-btn:hover {
      cursor: pointer;
      background-color: rgba(44, 200, 255, 0.6); }
  .card-prototyping .time-left {
    background-color: #dbf6fd; }
  .card-prototyping .stack {
    opacity: 0;
    transition: opacity 0.4s; }
    .card-prototyping .stack .card-stack {
      position: absolute;
      background-color: #2cc8ff;
      height: 0.5rem;
      border-radius: 10px; }
    .card-prototyping .stack .stack-2 {
      width: 65%;
      bottom: -9%;
      left: 19%; }
    .card-prototyping .stack .stack-1 {
      width: 75%;
      bottom: -5%;
      left: 14%; }
  .card-prototyping:hover {
    cursor: pointer; }
    .card-prototyping:hover .stack {
      opacity: 1; }

.card-shopping .stack {
  opacity: 0;
  transition: opacity 0.4s; }
  .card-shopping .stack .card-stack {
    position: absolute;
    background-color: #fde5cc;
    height: 0.5rem;
    border-radius: 10px; }
  .card-shopping .stack .stack-2 {
    width: 65%;
    bottom: -9%;
    left: 19%; }
  .card-shopping .stack .stack-1 {
    width: 75%;
    bottom: -5%;
    left: 14%; }

.card-shopping:hover {
  cursor: pointer; }
  .card-shopping:hover .stack {
    opacity: 1; }

.card-shopping .add-btn {
  background-color: #ff723a;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  text-align: center;
  border: none;
  transition: background-color 0.5s; }
  .card-shopping .add-btn .add-div {
    background-color: #ffffff;
    height: 0.2rem;
    width: 1rem;
    border-radius: 3px;
    margin: 0 auto; }
  .card-shopping .add-btn .add-div-1 {
    transform: rotate(90deg); }
  .card-shopping .add-btn .add-div-2 {
    transform: translateY(-90%); }
  .card-shopping .add-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 114, 58, 0.6); }

.card-medical .stack {
  opacity: 0;
  transition: opacity 0.4s; }
  .card-medical .stack .card-stack {
    position: absolute;
    background-color: #b4f1ce;
    height: 0.5rem;
    border-radius: 10px; }
  .card-medical .stack .stack-2 {
    width: 65%;
    bottom: -9%;
    left: 19%; }
  .card-medical .stack .stack-1 {
    width: 75%;
    bottom: -5%;
    left: 14%; }

.card-medical:hover {
  cursor: pointer; }
  .card-medical:hover .stack {
    opacity: 1; }

.card-medical .add-btn {
  background-color: #02d052;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  text-align: center;
  border: none;
  transition: background-color 0.5s; }
  .card-medical .add-btn .add-div {
    background-color: #ffffff;
    height: 0.2rem;
    width: 1rem;
    border-radius: 3px;
    margin: 0 auto; }
  .card-medical .add-btn .add-div-1 {
    transform: rotate(90deg); }
  .card-medical .add-btn .add-div-2 {
    transform: translateY(-90%); }
  .card-medical .add-btn:hover {
    cursor: pointer;
    background-color: rgba(2, 208, 82, 0.6); }

.card-wireframing .stack {
  opacity: 0;
  transition: opacity 0.4s; }
  .card-wireframing .stack .card-stack {
    position: absolute;
    background-color: #ffd3e2;
    height: 0.5rem;
    border-radius: 10px; }
  .card-wireframing .stack .stack-2 {
    width: 65%;
    bottom: -9%;
    left: 19%; }
  .card-wireframing .stack .stack-1 {
    width: 75%;
    bottom: -5%;
    left: 14%; }

.card-wireframing:hover {
  cursor: pointer; }
  .card-wireframing:hover .stack {
    opacity: 1; }

.card-wireframing .add-btn {
  background-color: #ff72ac;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  text-align: center;
  border: none;
  transition: background-color 0.5s; }
  .card-wireframing .add-btn .add-div {
    background-color: #ffffff;
    height: 0.2rem;
    width: 1rem;
    border-radius: 3px;
    margin: 0 auto; }
  .card-wireframing .add-btn .add-div-1 {
    transform: rotate(90deg); }
  .card-wireframing .add-btn .add-div-2 {
    transform: translateY(-90%); }
  .card-wireframing .add-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 114, 172, 0.6); }

.card-prototyping {
  background-color: #ffffff;
  border-radius: 40px; }
  @media (max-width: 760px) {
    .card-prototyping {
      border-radius: 25px; } }

.card-medical {
  background-color: #b4f1ce;
  border-radius: 40px; }
  @media (max-width: 760px) {
    .card-medical {
      border-radius: 25px; } }

.card-shopping {
  background-color: #fde5cc;
  border-radius: 40px; }
  @media (max-width: 760px) {
    .card-shopping {
      border-radius: 25px; } }

.card-wireframing {
  background-color: #ffd3e2;
  border-radius: 40px; }
  @media (max-width: 760px) {
    .card-wireframing {
      border-radius: 25px; } }

.search {
  width: 43rem;
  height: 3.5rem;
  margin-right: 16rem;
  position: relative;
  align-items: center;
  display: flex;
  border-radius: 120px;
  justify-content: center; }
  @media (max-width: 945px) {
    .search {
      margin-right: 0; } }
  @media (max-width: 1360px) {
    .search {
      margin-right: 0rem; } }
  @media (max-width: 1400px) {
    .search {
      margin-right: 0rem;
      transform: translateX(-20%); } }
  @media (max-width: 1270px) {
    .search {
      transform: translateX(-90px); } }
  @media (max-width: 1190px) {
    .search {
      transform: translateX(-20%); } }
  @media (max-width: 1111px) {
    .search {
      transform: translateX(-2%); } }
  @media (max-width: 860px) {
    .search {
      width: 25rem; } }
  @media (max-width: 450px) {
    .search {
      width: 20rem; } }
  @media (max-width: 370px) {
    .search {
      width: 15rem; } }
  .search__input {
    width: 90%;
    background-color: #ffffff;
    border-radius: 120px;
    padding-left: 3rem;
    border: none;
    align-self: center;
    height: 4.5rem;
    transition: width 0.5s; }
    @media (max-width: 945px) {
      .search__input {
        padding-left: 1.5rem; } }
    .search__input::-webkit-input-placeholder {
      color: #777777;
      transform: translateX(5%);
      text-align: left;
      text-transform: capitalize; }
      @media (max-width: 650px) {
        .search__input::-webkit-input-placeholder {
          font-size: 1.5rem; } }
      @media (max-width: 860px) {
        .search__input::-webkit-input-placeholder {
          transform: translateX(10%); } }
      @media (max-width: 945px) {
        .search__input::-webkit-input-placeholder {
          transform: translateX(10%); } }
    .search__input:not(:placeholder-shown) + .search-icon {
      opacity: 0; }
    .search__input:focus {
      outline: 3px solid #e9e7fd;
      padding-left: 3rem;
      padding-right: 1rem; }
      @media (max-width: 483px) {
        .search__input:focus {
          outline: none; } }
      .search__input:focus::-webkit-input-placeholder {
        transform: translateX(0%); }
    .search__input:focus + .search-icon {
      opacity: 0; }
  .search .search-icon {
    position: absolute;
    font-size: 2.5rem;
    color: #777777;
    opacity: 1;
    transition: opacity 0.2s;
    top: 5px;
    left: 8%;
    border-radius: 100px;
    margin-right: -1rem; }
    @media (max-width: 483px) {
      .search .search-icon {
        font-size: 2rem; } }

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100vh; }
  @media (max-width: 1111px) {
    main {
      grid-template-columns: 1fr; } }
  main .dashboard-content {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
    border-radius: 50px;
    margin-top: 9rem;
    gap: 5rem;
    margin-left: 10rem; }
    @media (max-width: 1360px) {
      main .dashboard-content {
        gap: 3rem; } }
    @media (max-width: 1270px) {
      main .dashboard-content {
        margin-top: 8rem;
        gap: 1rem; } }
    @media (max-width: 1190px) {
      main .dashboard-content {
        margin-top: 6.5rem; } }
    @media (max-width: 1111px) {
      main .dashboard-content {
        margin-top: 7rem; } }
    @media (max-width: 945px) {
      main .dashboard-content {
        margin-top: 6.5rem; } }
    @media (max-width: 760px) {
      main .dashboard-content {
        margin-top: 7.7 rem; } }
    @media (max-width: 483px) {
      main .dashboard-content {
        margin-left: 10rem;
        border-radius: 20px; } }
    main .dashboard-content .dashboard-heading {
      display: flex;
      justify-content: space-between;
      text-transform: capitalize;
      padding-top: 5rem;
      padding-left: 7rem;
      padding-right: 7rem;
      font-weight: 700;
      text-transform: capitalize; }
      @media (max-width: 1270px) {
        main .dashboard-content .dashboard-heading {
          padding: 4rem 5rem;
          padding-bottom: 1rem; } }
      @media (max-width: 945px) {
        main .dashboard-content .dashboard-heading {
          padding-right: 5rem; } }
      @media (max-width: 450px) {
        main .dashboard-content .dashboard-heading {
          padding: 3rem 4rem; } }
      @media (max-width: 370px) {
        main .dashboard-content .dashboard-heading {
          padding: 2rem 2rem; } }
  main .client-section {
    padding-top: 3rem;
    margin-top: 10.8rem;
    display: flex;
    flex-direction: column; }
    @media (max-width: 1270px) {
      main .client-section {
        margin-top: 8rem; } }
    @media (max-width: 1190px) {
      main .client-section {
        margin-top: 6.5rem; } }
    @media (max-width: 1111px) {
      main .client-section {
        margin-top: 2rem;
        margin-left: 10rem;
        padding-right: 2rem; } }
