main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  @include response(s-tab-port){
    grid-template-columns: 1fr;
  }
  .dashboard-content {
    background-color: $main-bg;
    margin-left: 8rem;
    border-radius: 50px;
    margin-top: 9rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
    padding-left: 7rem;
    margin-left: 11rem;
    padding-right: 7rem;
    @include response(laptop){
      padding-left: 6rem;
      padding-right: 6rem;
      padding-top: 3rem;
    }
    @include response(s-laptop){
      margin-top: 8rem;
      padding-left: 5rem;
      padding-right: 3rem;
      padding-top: 2rem;
    }
    @include response(tab-port){
      margin-top: 6.5rem;
    };
    @include response(s-tab-port){
      margin-top: 7rem;
    };
    @include response(s-2-tab-port){
      margin-top: 6.5rem;
      padding-right: 5rem;
    };
    @include response(phone){
      margin-top: 7.7
      rem;
    };
    @include response(s-4-phone) {
      margin-left: 7rem;
    }
    @include response(s-4-phone) {
      padding-left: 8rem;
      padding-right: 5rem;
    }
    .dashboard-heading {
      display: flex;
      justify-content: space-between;
      text-transform: capitalize;
      .date {
        font-weight: 700;
        text-transform: capitalize;
      }
    }
  }
}
