main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  @include response(s-tab-port) {
    grid-template-columns: 1fr;
  }
  .dashboard-content {
    background-color: $white;
    margin-left: 8rem;
    border-radius: 50px;
    margin-top: 9rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    padding-left: 7rem;
    gap: 7rem;
    margin-left: 10rem;
    padding-right: 7rem;
    @include response(laptop) {
      padding: 4rem 6rem;
      gap: 6rem;
    }
    @include response(s-laptop) {
      margin-top: 8rem;
      padding: 4rem 5rem;
      gap: 5rem;
    }
    @include response(tab-port) {
      margin-top: 6.5rem;
    }
    @include response(s-tab-port) {
      margin-top: 7rem;
    }
    @include response(s-2-tab-port) {
      margin-top: 6.5rem;
      padding-right: 5rem;
    }
    @include response(phone) {
      margin-top: 7.7 rem;
    }
    @include response(s-3-phone) {
      margin-left: 10rem;
      border-radius: 30px;
    }
    @include response(s-4-phone) {
      padding: 2rem 4rem;
      gap: 5rem;
    }
    @include response(s-5-phone) {
      padding: 2rem 2rem;
      gap: 2rem;
    }
    .dashboard-heading {
      display: flex;
      justify-content: space-between;
      text-transform: capitalize;
      .date {
        font-weight: 700;
        text-transform: capitalize;
      }
    }
  }
}
