.navigation {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;    
  grid-row: 1/-1;
  grid-column: 1/2;
  @include response(s-4-phone) {
    padding: 1.5rem;
  }  
  &__drop {      
    // border: 1px solid black;
    align-self: center;
    // margin-left: 1.4rem;
    margin-top: 2rem;
     text-align: center;                  
    &__checkbox {
      display: none;
    }
    &__label {
      &__span {
        height: 0.3rem;
        border-radius: 100px;
        background-color: black;
        width: 2rem;
        display: block;
        margin-bottom: 0.5rem;
      }
      .outline-2 {
        width: 3.7rem;
      }
      .outline-1,
      .outline-3 {
        margin-left: 0.8rem;
      }
      &:hover {
        cursor: pointer;
        background-color: $white;
      }
    }
  }
  background-color: $bg-primary;
  height: 100vh;
  &__links {
    margin-top: 7rem; 
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 2rem;
    @include response(s-laptop) {
      gap: 2.5rem;
    }
    @include response(tab-port) {
      // gap:1rem;
    }
    @include response(s-tab-port) {
    }  
    @include response(phone) {
      gap: 2.5rem;
      // margin-top: 8rem;
    }
    @include response(s-4-phone) {
      gap: 0rem;
      // margin-top: 4rem;
    }
    &__li {
      display: flex;
      justify-content: center;
      list-style: none;
      text-align: center;
      transition: background-color 0.5s;
      border-radius: 50%;
      align-items: center;
      @include response(s-4-phone) {
        padding: 1.5rem;
      }
      .nav-icons {
        font-size: 3rem;
        color: $nav-grey;
      }
      &:hover {
        .nav-icons {
          color: white;
        }
      }
      .active-link {
        background-color: $active-nav;
        padding: 1.5rem;
        border-radius: 50px;
        .nav-icons {
          color: white;
        }
      }
      .a__links {
        padding: 1.5rem;
        border-radius: 50px;
        transition: background-color 0.4s;
        &:hover {
          background-color: $active-nav;
          cursor: pointer;
        }
      }
    }
  }        
}
