.navigation {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-row: 2/-1; 
  grid-column: 1/2;
  transform: translateX(0%);
  position: fixed; 
  transition: transform 0.5s ease;
  top: calc(15vh + 2rem);
  width: 11rem; 
  transform: translateX(0%);    
  @include response(phone) {
    padding: 1.5rem;
    top: calc(12vh + 1.5rem);
  }
  @include response(s-3-phone) {         
    top: calc(9vh + 1.5rem);
  }
  height: 87vh;
  &__links {
    display: flex;
    align-self: center;
    flex-direction: column;
    transition: transform 0.6s;
    gap: 2rem;
    @include response(s-laptop) {
      gap: 2.5rem;
    }
    @include response(tab-port) {
      // gap:1rem;
    }
    @include response(s-tab-port) {
    }
    @include response(phone) {
      gap: 2.5rem;
      // margin-top: 8rem;
    }
    @include response(s-4-phone) {
      gap: 0rem;
      // margin-top: 4rem;
    }
    &__li {
      display: flex;
      justify-content: center;
      list-style: none;
      text-align: center;
      transition: background-color 0.5s;
      border-radius: 50%;
      align-items: center;
      @include response(s-4-phone) {
        padding: 1.5rem;
      }
      .nav-icons {
        font-size: 3rem;
        color: $nav-grey;
      }
      &:hover {
        .nav-icons {
          color: white;
        }
      }
      .active-link {
        background-color: $active-nav;
        padding: 1.5rem;
        border-radius: 50px;
        .nav-icons {
          color: white;
        }
      }
      .a__links {
        padding: 1.5rem;
        border-radius: 50px;
        transition: background-color 0.4s;
        &:hover {
          background-color: $active-nav;
          cursor: pointer;
        }
      }
    }
  }
}
.drop-label {
  height: 3rem;
  position: fixed;
  top: 3.5rem;
  left: 4rem;
  z-index: 20;
  transition: opacity 0.5s;
  &__span {
    transition: transform 0.4s;
    height: 0.3rem;
    border-radius: 100px;
    background-color: black;
    width: 2rem;
    display: block;
    margin-bottom: 0.5rem;
  }
  .outline-2 {
    width: 3.7rem;
  }
  .outline-1,
  .outline-3 {
    margin-left: 0.8rem;
  }
  &:hover {
    cursor: pointer;
  }
  // &::after{
  //   content: '\2716';
  //   height: 100%;
  //   position: absolute;
  //   left: -10%;
  //   top:-10%;
  //   font-size: 2rem;
  //   width: 100%;
  //   opacity: 0;
  //   padding: 0.5rem;
  //   text-align: center;
  //   background-color: white;
  //   border-radius: 50px;
  // }
}
.drop-label {
  grid-template-columns: 1/2;
  align-self: center;
  grid-row: 1/2;
  justify-self: center;
  // border: 1px solid black;
}
.drop-checkbox {
  display: none;
}
.drop-checkbox:checked ~ .navigation {
  transform: translateX(-150%);
}
// .drop-checkbox ~ .drop-label {
//   .outline-2 {
//     display: none;
//   }
//   .outline-1 {
//     width: 3rem;
//     transform: rotate(45deg) translateY(5px);
//   }
//   .outline-3 {
//     width: 3rem;
//     transform: rotate(-45deg) translateY(-5px);
//   }
// }
.drop-checkbox:checked ~ main {
  grid-column: 1/-1;
  grid-row: 2/-1;
  padding-left: 3rem;  
}
