.progress-domain {
  padding-left: 7rem;
  padding-right: 7rem;
  flex-grow: 1;
  @include response(laptop) {
    gap: 0rem;
  }
  @include response(s-laptop) {
    gap: 0rem;
    // height: 82%;
  }
  @include response(s-2-tab-port) {
    padding-right: 5rem;
    // height: 85%;
  }
  @include response(s-4-phone) {
    padding: 0rem 4rem;
    padding-top: 0rem;
  }
  @include response(s-5-phone) {
    padding: 1rem 2rem;
  }
  @include response(l-laptop) {
    gap: 5rem;
    padding: 5rem;
  }
  @include response(tab-port) {
    // height: 82%;
  }
  @include response(phone) {
    padding-bottom: 1rem;
    // height: 85%;
  }
  @include response(s-phone) {
    // height: 87%;
  }
  @include response(s-3-phone) {
    padding-bottom: 1rem;
    // height: 90%;
  }
  overflow-y: scroll;
  &::-webkit-scrollbar {
    @include response(phone) {
      width: 5px;
    }
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f4f4f4;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $light-grey-1;
    border-radius: 4px;
  }
  // padding-top: 4rem;
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  // height: 73%;
  column-gap: 7rem;
  row-gap: 7rem;
  @include response(laptop) {
    column-gap: 5rem;
    row-gap: 5rem;
  }
  @include response(tab-port) {
    grid-template-columns: 1fr;
  }
  &__cards {
    padding-bottom: 2rem;
    position: relative;
    .card-top {
      display: flex;
      padding: 3rem 3rem 0rem 3rem;
      justify-content: space-between;
      @include response(s-tab-3-port) {
        padding-right: 4rem;
        padding-left: 4rem;
      }
      &__opts {
        .dots {
          display: block;
          margin-bottom: 0.1rem;
          height: 0.5rem;
          width: 0.5rem;
          background-color: black;
          border-radius: 50%;
          @include response(s-tab-3-port) {
            margin-bottom: 0.3rem;
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
      &__time {
        font-weight: 600;
        color: $dark-grey-2;
        text-transform: capitalize;
      }
    }
  }
}
.card-details {
  margin-top: 3rem;
  text-align: center;
  &__progress {
    text-align: start;
    padding: 0rem 3rem;
    .progress-label {
      display: block;
      font-weight: 700;
      text-align: end;
      margin-top: 1rem;
    }
    .bar-heading {
      display: block;
      font-weight: 700;
      margin-top: 2rem;
    }
    .progress-bar {
      width: 100%;
      margin-top: 1rem;
      border-radius: 20px;
      border: none;
      height: 0.6rem;
      &::-webkit-progress-bar {
        border-radius: 20px;
        background-color: #f3f3f3;
      }
      &::-webkit-progress-value {
        border-radius: 20px;
      }
    }
  }
  &__name {
    text-transform: capitalize;
  }
  &__category {
    display: block;
    margin-top: 0.3rem;
  }
}
.hr-grey {
  width: 100%;
  border: 1px solid rgba($hr-grey, 0.35);
  margin-top: 1rem;
}
.hr-white {
  width: 100%;
  border: 1px solid rgba($white, 0.4);
  margin-top: 1rem;
}
.card-users {
  display: flex;
  padding: 0rem 1rem;
  padding-top: 2rem;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  @include response(l-laptop) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @include response(laptop) {
    // justify-content: center;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
  }
  &__clients {
    .users-img {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      &:not(:first-child) {
        margin-left: -1rem;
      }
    }
    .add-btn {
      margin-left: 0.4rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .time-left {
    display: inline-block;
    text-align: end;
    font-weight: 650;
    padding: 0.7rem 2rem;
    border-radius: 25px;
    font-size: 0.8rem;
    background-color: $white;
    &__span {
      font-weight: 700;
    }
  }
  @include card-color-text(time-prototype);
  @include card-color-text(time-medical);
  @include card-color-text(time-wireframing);
  @include card-color-text(time-shopping);
}
@include bar-color(bar-prototype);
@include bar-color(bar-medical);
@include bar-color(bar-shopping);
@include bar-color(bar-wireframing);

.card-prototyping {
  .add-btn {
    @include add-button($progress-blue, $white, 3rem);
  }
  .time-left {
    background-color: $light-blue;
  }
  box-shadow: 0px 0px 300px rgba(197, 196, 196, 0.293);
  .stack {
    opacity: 0;
    transition: opacity 0.4s;
    @include stack($progress-blue);
  }
  &:hover {
    cursor: pointer;
    .stack {
      opacity: 1;
    }
  }
}
.card-shopping {
  .stack {
    opacity: 0;
    transition: opacity 0.4s;
    @include stack($shopping);
  }
  &:hover {
    cursor: pointer;
    .stack {
      opacity: 1;
    }
  }
  .add-btn {
    @include add-button($progress-orange, $white, 3rem);
  }
}
.card-medical {
  .stack {
    opacity: 0;
    transition: opacity 0.4s;
    @include stack($medical);
  }
  &:hover {
    cursor: pointer;
    .stack {
      opacity: 1;
    }
  }
  .add-btn {
    @include add-button($progress-green, $white, 3rem);
  }
}
.card-wireframing {
  .stack {
    opacity: 0;
    transition: opacity 0.4s;
    @include stack($wireframing);
  }
  &:hover {
    cursor: pointer;
    .stack {
      opacity: 1;
    }
  }
  .add-btn {
    @include add-button($progress-pink, $white, 3rem);
  }
}
.card-prototyping {
  @include cards($white);
}
.card-medical {
  @include cards($medical);
}
.card-shopping {
  @include cards($shopping);
}
.card-wireframing {
  @include cards($wireframing);
}
