.client-section {
  padding-top: 3rem;
  margin-top: 9.5rem;
  @include response(s-laptop) {
    margin-top: 8rem;
  }
  @include response(tab-port) {
    margin-top: 6.5rem;
  }
  @include response(s-tab-port) {
    margin-top: 2rem;
    margin-left: 10rem;
    padding-right: 2rem;
  }
  .client-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $hr-grey-dark;
    padding-left: 2rem;
    padding-right: 2rem;
    text-transform: capitalize;
    padding-bottom: 3.5rem;
    @include response(s-2-tab-port) {
      padding-bottom: 1.5rem;
    }
    .search-icon-client {
      font-size: 2.5rem;
      transition: color 0.4s;
      &:hover {
        color: $light-grey;
        cursor: pointer;
      }
    }
    &__actions {
      display: flex;
      align-items: center;
      gap: 2.5rem;
      &__dot {
        &:hover {
          cursor: pointer;
        }
        .client-dots {
          display: block;
          margin-bottom: 0.4rem;
          height: 0.6rem;
          width: 0.6rem;
          background-color: black;
          border-radius: 50%;
        }
      }
    }
  }
  .client-messages {
    margin-top: 1rem;
    &__img {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      // @include response(s-tab-port){
      //   width: 60%;
      // }
    }
    .users-chats {
      position: relative;
      align-items: center;
      transition: transform 0.4s;
      padding: 2.5rem;
      border-bottom: 1px solid $hr-grey-dark;
      @include response(s-tab-port) {
        margin-top: 1rem;
        background-color: $white;
        border-radius: 20px;
        grid-template-columns: 10rem auto;
        border: none;
      }
      .star-icon {
        position: absolute;
        top: 20%;
        fill: black;
        right: 5%;
        transition: color 0.4s;
        font-size: 2rem;
      }
      .message-content {
        display: flex;
        flex-direction: column;
        width: 90%;
        h4 {
          text-transform: capitalize;
          margin-bottom: 1rem;
        }
        .message-date {
          text-align: right;
          margin-top: 0.8rem;
          color: $light-grey;
          text-transform: capitalize;
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
      &:hover {
        @include response(s-tab-port) {
          transform: none;
          background-color: none;
          border: none;
          cursor: pointer;
        }
        transform: translateX(-12px) scale(1.02);
        background-color: $white;
        border-radius: 20px;
        cursor: pointer;
        border-bottom: none;
        .star-icon {
          color: rgb(220, 220, 33);
        }
      }
    }
  }
}
