.search {
  width: 45rem;
  height: 3.5rem;
  transform: translateX(-120px);
  position: relative;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/2;
  border-radius: 120px;
  justify-content: center;
  // @include response(l-laptop) {
  //   transform: translateX(-20%);
  // }
  @include response(tab-port) {
    transform: translateX(-70px);   
  } 
  @include response(s-tab-port) {  
    transform: translateX(-2%);
    grid-column: 1/2;
    grid-row: 2/3; 
    margin-left: 2rem;
  }
  &__input { 
    width: 90%;
    background-color: $white;
    border-radius: 120px;
    padding-left: 4rem;
    border: none;
    align-self: center;
    height: 4.5rem;
    @include response(s-2-tab-port) {
      padding-left: 1.5rem;
    }
    &::-webkit-input-placeholder {
      color: $light-grey;
      text-align: left;
      transform: translateX(0%);   
      text-transform: capitalize;
      @include response(s-phone) {
        font-size: 1.5rem;
      }
      @include response(s-2-tab-port) {
        transform: translateX(7%);
      }
    }
    &:focus {
      outline: 3px solid $violet-light;
      padding-right: 1rem;
      @include response(s-3-phone) {
        outline: none;
      }
    }
  }
  .search-icon {
    position: absolute;
    font-size: 2.5rem;
    color: $light-grey;
    opacity: 1;
    transition: opacity 0.2s;
    top: 8px;
    left: 3%;
    border-radius: 100px;
    margin-right: -1rem;
    @include response(s-3-phone) {
      font-size: 2rem;
    }
  }
}
