.summary {
  // margin-top: 4rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
  @include response(s-laptop) {
    padding: 0rem 5rem;
    padding-bottom: 1rem;
    gap: 0rem;
  }
  // @include response(s-2-tab-port) {
  //   padding-right: 5rem;
  // }
  @include response(s-4-phone) {
    padding: 1rem 4rem;
  }
  @include response(s-5-phone) {
    padding: 1rem 3rem;
  }
  &__options {
    display: flex;
    gap: 2rem;
    @include response(s-tab-port) {
      gap: 1.5rem;
    }
    .menu-icon,
    .menu-stripe {
      font-size: 2.3rem;
      --ionicon-stroke-width: 45px;
      transition: color 0.4s;
      &:hover {
        color: $light-grey;
        cursor: pointer;
      }
    }
  }
  &__info {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    // @include response(laptop) {
    //   gap: 4rem;
    // }
    // @include response(s-laptop) {
    //   gap: 5rem;
    // }
    // @include response(s-tab-port) {
    //   gap: 12rem;
    // }
    // @include response(s-2-tab-port) {
    //   gap: 7rem;
    // }
    // @include response(s-tab-3-port) {
    //   gap: 7rem;
    // }
    @include response(s-2-phone) {
      display: grid;
      grid-template-columns: repeat(3, min-content);
      column-gap: 7rem;
      row-gap: 2rem;
    }
    @include response(s-3-phone) {
      column-gap: 8rem; 
    }
    &__state {
      width: max-content;
      .number {
        display: block;
        margin-bottom: 0.3rem;
      }
      .number {
        font-weight: 900;
      }
      .status {
        text-transform: capitalize;
        color: $medium-grey;
        font-weight: 500;
      }
    }
    > *:not(:last-child) {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        height: 0.5rem;
        width: 0.5rem;
        top: 75%;
        // right: -30%;
        border-radius: 50%;
        border: 1px solid black;
        display: block;
        align-self: flex-end;
        margin-bottom: 0.6rem;
        left: calc(100% + 15px);
      }
      @include response(phone) {
        &::after {
          left: calc(100% + 10px);
        }
      }
      @include response(s-2-phone) {  
        &::after {  
          left: calc(100% + 19px);
        }
      }
      @include response(s-3-phone) {
        &::after {
          left: calc(100% + 16px);  
        } 
      }
      // @include response(s-2-phone) {
      //   &::after {
      //     left: calc(100% + 18px);
      //   }
      // }
    }
  }
}
