.top {
  width: max-content;
  grid-row: 1/2;
  justify-self: end;
  @include response(s-tab-port) {
    grid-column: 2/4;
  }
  &__options {     
    display: flex;
    align-self: end;
    align-items: center;
    gap: 1.3rem;
    @include response(s-laptop) {
      gap: 1rem;
    }
    @include response(s-4-phone) {
      gap: 0.7rem;
    }
    .top-user-img {
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
    }
    .top-add-btn {
      @include add-button($active-nav, $white, 3.2rem);
    }
    .notification-icon {
      font-size: 3.2rem;
      transition: color 0.5s;
      position: relative;
      &::after {
        height: 0.7rem;
        content: "";
        width: 0.7rem;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        right: 15%;
        top: 10%;
      }
      &:hover {
        color: $light-grey;
        cursor: pointer;
      }
    }
    &__user {
      border-left: 1px solid $light-grey-1;
      padding-left: 2rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      @include response(s-laptop) {
        gap: 0.5rem;
      }
      @include response(s-2-tab-port) {
        margin-right: 2rem;
      }
      .user-name {
        text-transform: capitalize;
        font-weight: 800;
        font-size: 2.3rem;
      }
    }
  }
}
