$bg-primary: #f3f6fd;
$active-nav: #151522;
$white: #ffffff;
$main-bg: #f9f9f9;
$shopping: #fde5cc;
$medical: #b4f1ce;
$wireframing: #ffd3e2;
$violet-light: #e9e7fd;
$progress-pink: #ff72ac;
$pink-add-btn: #ff71ab;
$pink-text: #ffb6d2;
$progress-green: #02d052;
$green-add-btn: #02d051;
$green-text: #0bd157;
$light-blue-btn: #dbf6fd;
$progress-blue: #2cc8ff;
$light-blue:#dbf6fd;
$progress-orange: #ff723a;
$orange-text: #ff723a;
$blue-text: #2cc8ff;
$blue-add-btn: #2ac8ff;
$light-grey: #878787;
$dark-grey-1: #444545;
$dark-grey-2: #4f4f4f;
$dark-grey-3: #050505;
$medium-grey: #595a5c;
$secondary-heading:#313133;
$nav-grey:#94969a;
$hr-grey:#e3e2e2;
$hr-grey-dark:#cdccccc2;